/*
  DAISYUI THEME CONFIGURATION
  Paste your generated @plugin "daisyui/theme" block below.
*/




@plugin "daisyui/theme" {
  name: "roam";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(12% 0.042 264.695);
  --color-base-200: oklch(20% 0.042 265.755);
  --color-base-300: oklch(27% 0.041 260.031);
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: oklch(68% 0.162 75.834);
  --color-primary-content: oklch(98% 0.026 102.212);
  --color-secondary: oklch(54% 0.281 293.009);
  --color-secondary-content: oklch(96% 0.016 293.756);
  --color-accent: oklch(58% 0.158 241.966);
  --color-accent-content: oklch(97% 0.013 236.62);
  --color-neutral: oklch(27% 0.041 260.031);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}



